/* Pc */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    #nav{
        display: none;
    }
    #container{
        margin-left: 0px;
    }
    .image-section {
        margin-top: 84px;
    }
    .topnav {
        display: block;
    }
    
}

/* Mobile */
@media (max-width: 739px) {
    #nav{
        display: none;
    }
    #container{
        margin-left: 0px;
    }
    .row-image {
        flex-direction: column;
    }
    .img-section{
        width: 100%;
    }
    .about-me-container {
        width: 100%;
    }
    .about-me {
        width: 92%;
    }

    .contact-container{
        width: 100%;
    }

    .contact-section {
        width: 92%;
    }

    .topnav {
        display: block;
    }

    .download-resume {
        width: 100%;
    }
    
    .charge-section {
        flex-direction: column;
    }

    .row-charge {
        margin-bottom: 16px;
    }
    #footer{
        flex-direction: column;
    }

    .info {
        width: 100%
    }

    .blog-post {
        width: 100%
    }
    
    .popular-tag{
        width: 100%
    }
}

