* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth; /*hieu ung cuon trang */
}

@keyframes animateleft {
    0% {
        left: -300px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.pd-18{
    padding: 18px 4px!important;
}

.white-color{
    color: white!important;
}

#main {
}

.img-clicked {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    z-index: 4;
    overflow: auto;
}

.exit-btn {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 8px;
    padding: 25px 18px;
    cursor: pointer;
}

.img-zoom {
    display: block;
    margin: auto;
    animation: animatezoom 0.6s;
}

.img-slogan {
    color: white;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 64px;
    font-size: 15px;
    animation: animatezoom 0.6s;

}

#nav {
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    text-align: center;
    padding: 30px 0px;
}

#nav h2 {
    padding: 74px;
    color: #757575;
    font-size: 24px;
    font-weight: 400;
}

.mobile-overlay{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.close,
.subnav a {
    color: #757575;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    font-size: 15px;
    width: 100%;
}

.close {
    cursor: pointer;
    display: none;
}

.subnav li {
    list-style-type: none;
}

.subnav li:hover a{
    background-color: #ccc;
    color: #000;
}

.topnav {
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
    background-color: white;
    z-index: 1;
    display: none;
}

.topnav h2 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 84px;
    padding-left: 32px;
}

.menu-btn {
    position:absolute;
    right: 0px;
    top: 0px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 15px;
    margin-right: 15px;
    cursor: pointer;
}

#container {
    margin-left: 300px;
    right: 0;
}

.row-image {
    display: flex;
    justify-content: space-between;
}

.row-image img {
    opacity: 0.8;
    margin-bottom: -6px;
}

.row-image img:hover{
    opacity: 1;
}

.img-section {
    flex: 1;
}

.img-section img {
    width: 100%;
    cursor: pointer;
}

.number-bar {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.number-bar a{
    text-decoration: none;
    color: black;
    padding: 10px 16px;
}

.number-bar .number-1 {
    color: white;
    background-color: black;
}

.number-bar .number-1:hover {
    color: black;
    background-color: #ccc;
}

.about-me-container {
    background-color: #616161;
    padding-bottom: 42px;
}

.normal-btn:hover {
    color: white;
    background-color: black;
}

.about-me {
    color: #f1f1f1;
    width: 600px;
    margin: auto;
}

.aboutme-header {
    padding: 42px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.about-me img {
    width: 100%;
}

.aboutme-content p {
    font-size: 15px;
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.4;
}

.aboutme-content h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 42px;
}

.border-bar {
    border-top: 1px solid #f1f1f1;
    opacity: 0.6;
    margin: 20px 0px;
}

.aboutme-skills h3 {
    padding: 26px 0px;
    font-weight: 400;
    font-size: 20px;
}

.ability .full-percent {
    width: 100%;
    background-color: white;
    height: 30px;
}

.current-percent {
    width: var(--percent);
    background-color: #9e9e9e;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: black;
}

.ability .header{
    letter-spacing: 4px;
    font-size: 15px;
}

.download-resume {
    margin-top: 30px;
    margin-bottom: 16px;
    height: 47px;
    width: 180px;
    background-color: #f1f1f1;
    border: none;
    font-size: 15px;
}

.download-resume:hover {
    opacity: 0.6;
    cursor: pointer;
}

.charge-section {
    display: flex;
    justify-content: space-between;
}

.row-charge {
    background-color: #fff;
    opacity: 0.6;
    flex-basis: 290px;
}

.row-charge:hover {
    opacity: 1;
}

.row-charge li{
    color: #000;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    text-align: center;
}

.header-charge {
    font-size: 24px;
    padding: 36px 0px;
    background-color: black;
}

.price {
    padding: 33px 0px;
}

.price h2{
    font-size: 30px;
    font-weight: 400;
}

.sign-btn {
    padding: 23px 0px;
    background-color: #f1f1f1;
}

.sign-btn button {
    font-size: 15px;
    padding: 13px 24px;
    border: none;
    background-color: #fff;
}

.sign-btn button:hover {
    background-color: #9e9e9e;
    cursor: pointer;
}

/* CONTACT */
.contact-container {
    background-color: #f1f1f1;
    padding-top: 32px;
}

.contact-section {
    width: 600px;
    margin: auto; /* can giua */
    text-align: center
}

.contact-section h3 {
    font-size: 20px;
    font-weight: 510;
}

.contact-container p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.input-section {
    margin: 5px 0px;
}

.input-header {
    float: left;
}

.input-form {
    width: 100%;
    height: 22.5;
    padding: 8px;
    margin: 6px 1px;
}

.send-btn {
    width: 100%;
    font-size: 15px;
    background-color: #000;
    padding: 9px 0px;
    color: white;
    border: none;
    margin-bottom: 36px;
}

.send-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* CONTACT */

/* FOOTER */

#footer{
    background-color: #9e9e9e;
    display: flex;
    justify-content: space-around;
    padding: 32px 24px;
}

.info {
    width: 30%
}

.info p {
    font-size: 15px;
}

.blog-post {
    width: 30%
}

.popular-tag{
    width: 30%
}

#footer h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0px;
}

.blog-section {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    width: 100%;
}

.blog-section:hover {
    background-color: black;
    color: #fff;
}

.blog-image {
    float: left;
    width: 50px;
    margin: 0px 16px;
    opacity: 0.6;
    cursor: pointer;
}

.blog-image:hover {
    opacity: 1;
}

.blog-link {
    float: left;
}

.blog-link h4 {
    font-weight: 500;
    font-size: 18px;
}

.small-border {
    border-bottom: 0.5px solid #ccc;
}

.popular-tag {
    
}

.special-tag {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 3px 12px;
    margin-bottom: 16px;
    display: inline-block;
}

.tag {
    background-color: #616161;
    color: white;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 8px;
    margin-bottom: 16px;
    display: inline-block;
}

/* FOOTER */

